{% extends 'layout.html' %}
{% block content %}
<div style="margin:auto">
    <img style="margin-left:160px;" src="{{url_for('static', filename='images/invalid.png')}}" width="750" height="300" class="center" alt="Educational">
    <h2 style="margin-left:390px;" >Invalid Video</h2>
<!--    <h4 style="margin-left:160px;">Link-{{link}}</h4>-->
    <h6 style="margin-left:160px;">Write Text here</h6>
 </div>
{% endblock content %}