#tag_extractor_content_div.tags a {
  text-decoration: none;
  color: white;
}

#tag_extractor_content_div .list-inline > li {
	display: inline-block;
  background-color: rgb(238, 3, 3);
  border-radius:10px;
  margin-right:5px;
  margin-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom: 1px;
}

#tag_extractor_content_div .list-inline > li:hover {
	background-color: #dedede !important;
  cursor:pointer;
}

#tag_extractor_content_div .list-inline > li.yte_btn {
	background-color: blue;
}
